blank_issues_enabled: false
contact_links:
  - name: Discussion
    url: "https://github.com/OWNER/{{PROJECT_NAME}}/discussions"
    about: "For questions and open-ended discussion, use Discussions."
