{
  "scripts": {
    "lint": "./scripts/style.sh lint",
    "lint:fix": "./scripts/style.sh lint --fix",
    "lint:modified": "./scripts/style.sh lint --modified",
    "format": "./scripts/style.sh format",
    "format:modified": "./scripts/style.sh format --modified"
  }
}
